.my-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 13rem;
}
.skills-boxes{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;


}
.skill-box{
    box-shadow: 2px 10px 10px rgba(0,0,0,0.1);
    background-color: rgb(253, 255, 255);
    padding: 20px 70px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     height: 400px;
    
}
.skill-name{
    font-family: 'Roboto';
    font-size: 2rem;
    
}

.skills{
    font-size: 1.4rem;
    margin-top: 4rem;
    font-weight: 200;
    font-weight: bold;
    font-family: 'Roboto';
    color: rgb(33, 33, 255);
    letter-spacing: 1px;

  
}
